body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}
header { 
  background: #673ab7;
  color: white;
  padding: 15px;
  text-align: center;
}
nav {
  background: #4527a0;
  display: flex;
  justify-content: center;
  padding: 10px;
}
nav button {
  background: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
nav button:hover { background: #d1c4e9; }
.page { display: none; padding: 20px; }
.active { display: block; }
.card {
  background: white;
  padding: 20px;
  margin: 15px auto;
  border-radius: 12px;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.sos-btn {
  background: red;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.map-placeholder {
  background: #ffe0b2;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-weight: bold;
  color: #444;
}
.chat-box {
  border: 1px solid #ccc;
  height: 200px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 8px;
  background: #fafafa;
}
.chat-input {
  display: flex;
  margin-top: 10px;
}
.chat-input input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.chat-input button {
  margin-left: 8px;
  padding: 8px 12px;
}
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}


footer {
  background: #4527a0;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
#qrCanvas {
  display: block;
  margin: 15px auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background: white;
}